body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  color: #555;
}

.App {
  text-align: center;
}

header {
  padding: 2rem;
}

header h3,
header p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 1rem;
}

li a {
  display: flex;
  justify-items: center;
  align-items: center;
  width: 450px;
  padding: 10px;
  border: 1px solid #efeaea;
  text-decoration: none;
  position: relative;
  font-size: 18px;
  font-weight: 600; 
  gap: 10px;
}

li a::after {
  content: " >";
  position: absolute;
  right: 10px;
}

section {
  display: flex;
  justify-items: center;
  align-items: center;
  padding: 2rem;
  flex-direction: column;
}

li img {
  width: 30px;
  height: 30px;
}

.p-body {
  margin-top: 50px;
  font-weight: 600; 
}

.phone-number {
  color: #2596be;
}


.back-button {
  width: 150px; 
  margin-top: 200px;
  padding: 10px;
  background-color: #2596be;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.back-button:hover {
  background-color: darkblue;
}

footer {
  display: flex;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  align-content: center;
  justify-content: center;
  align-items: center;
  font-weight: 600; 
}

.p-footer {
  display: flex;
  align-items: center;
}
